* {
    margin: 0;
    padding: 0;
    border: 0;
}

@import './variables/extend';
@import './variables/mixins';
@import './variables/colores';
@import './secciones/index';
@import './secciones/deportes';
@import './secciones/indumentaria';
@import './secciones/fitness';
@import './secciones/contacto';

.logo {
    display: flex;
    padding-right: 30em;

}

.logo img {
    width: 50px;


}

.titulo {
    background-color: $tituloPrincipal;
    border: solid 5px black;
    border-radius: 10px;
    font-family: 'Overpass', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    animation-name: colorestitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.grilla {
    background: url(../Imagenes/fondogym.png);
    background-size: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    
}


.tituloufc {

    margin-bottom: 5px;
    margin-left: 45vw;
}

.remeras {
    margin-left: 30vw;
}

.menu{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-area: nav;
    background: rgb(146, 142, 208);
    background: linear-gradient(90deg, rgba(146, 142, 208, 1) 7%, rgba(118, 9, 121, 1) 31%, rgba(0, 212, 255, 1) 100%);
    border: solid 5px black;
    border-radius: 10px;

    ul{ 

    a:hover{
        
        background-color: purple;
        border-radius: 60px;
    }
    
}
}

.logo{
    height: 50px;
}
.redes {
    background: rgb(146, 142, 208);
    background: linear-gradient(90deg, rgba(146, 142, 208, 1) 7%, rgba(118, 9, 121, 1) 31%, rgba(0, 212, 255, 1) 100%);
    border: solid 5px black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 20px 20px 20px;
    justify-content: end;

    li {
        margin-top: 20px;
        margin-left: 10px;

        i {
            font-size: 2em;
            color: white;

            &:hover {
                transform: translateY(-15%);
            }
        }
    }

}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}

.grilla {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 2.5fr;
    grid-template-areas:
        "nav nav nav "
        " header header header"
        " main main main"
        " main main main"
        " footer footer footer"
    ;
}

@keyframes colorestitulo {
    0% {
        background-color: rgba(146, 142, 208, 1);
    }

    25% {
        background-color: rgba(118, 9, 121, 1);
    }

    50% {
        background-color: rgba(0, 212, 255, 1);
    }

    100% {
        background-color: rgb(182, 10, 39);
    }
}

@media (max-width: 1200px){
    
    .menu {
        .navbar {
            img {
                margin-right: -20rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .grilla {
        display: grid;
        grid-template-areas:
            "nav nav nav"
            " header header header"
            " main main main"
            " main main main"
            " footer footer footer";
    }
    .menu{
        ul{
            margin-right: 40px;
            padding-right: 23rem;
        }
        li {
            margin-top: 5px;
        }
        a{
            margin-left: 40px;
        }
    }
    
    .descripciones {
        display: flex;
        flex-direction: column;
    
        
        
    }

    .fair img {
        max-width: 30em;
    }



    .banner img {
        width: 91vw;
    }

    .remeras img {
        width: 50vw;
    }
    
    .pelotas {
        a {margin-left: 11rem;
        }
    }

    .fitness {
        a{
            margin-left: 8.8rem;
        }
        h2{
            margin-left: 30px;
        }
        p {
            margin-right: 40px;
        }
    }
    .ropa{
        a{
            margin-left: 10rem;
        }
        h2{
            margin-left: 60px;
        }
        p{ 
            margin-left: 22px;
        }
    }
    .seccion2{
        margin-left: 40px;
    }

}

@media (max-width: 480px) {
    
    .navbar-brand{
        display: none;
        }

    #navbarNav{
        width: 50px;
    }
    .menu{
        flex-direction: column;
        ul{
            padding-right: 1rem;
        }
    li{
        margin-top: 5px;
        padding-right: 30px;
    }
    a{
        margin-left: 50px;
        
    }
    }

    .pelotas {
        a{
            margin-left: 30px;
        }
    }
    .fitness {
        a {
            margin-left: -1px;
        }
    }
    .ropa{
        a{
            margin-left: 20px;
        }
    }
    .logosmarcas{
        flex-direction: column;
    }
}


@media (max-width: 375px) {

    .navbar-brand{
    display: none;
    }
    #navbarNav{
        width: 50px;
        a{
            padding-right: 5rem;
        }
        
    }

    .menu{
        flex-direction: column;
        ul{
            padding-right: 5rem;
        }
    li{
        margin-top: 5px;
        padding-right: 30px;
    }
    a{
        margin-left: 50px;
        
    }
    }

.logo{
    height: 30px;
    
}
    
    
    .fair img {
        max-width: 15em;
    }

    .video iframe {
        width: 320px;
        height: 200;
    }

    .grilla {
        background-size: 200%;
    }
    .form-register{
    
        width: 300px;
    }
    .pelotas{
        a{
            margin-left: -1rem;
        }
    }
    .fitness{
        margin-right: 4rem;
     a{
        margin-left: -50px;
     }
     h2{
        margin-left: 90px;
     }
     p{
        margin-left: 70px;
     }
    }
    
    .ropa{
        a{
            margin-left: -28px;
        }
        h2{
            margin-right: 80px;
        }
    }
    
    .logosmarcas{
        flex-direction: column;
    }
}

@media (max-width:320px) {
    .menu{
        a {
            margin-left: 5px;
        }
    }
}